<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <section class="vh-20 gradient-custom">
      <div class="container py-5 h-20">
        <div class="row d-flex justify-content-center align-items-center h-20">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem">
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2">Create Account</h2>
                  <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeUsernameX"
                        >Username</label
                      >
                      <input
                        type="text"
                        formControlName="username"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': form.controls['username'].errors
                        }"
                      />
                      <div
                        *ngIf="form.controls['username'].errors"
                        class="invalid-feedback"
                      >
                        <div
                          *ngIf="form.controls['username'].errors['required']"
                        >
                          Username is required
                        </div>
                        <div
                          *ngIf="form.controls['username'].errors['minlength']"
                        >
                          Username must be at least 6 characters
                        </div>
                        <div
                          *ngIf="form.controls['username'].errors['maxlength']"
                        >
                          Username must not exceed 20 characters
                        </div>
                      </div>
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="role">Role</label>
                      <select
                        type="text"
                        id="role"
                        class="form-control"
                        formControlName="role"
                      >
                        <option value="author">Author</option>
                        <option value="reader">Reader</option>
                      </select>
                    </div>
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeEmailX"
                        >Email Id</label
                      >
                      <input
                        type="email"
                        formControlName="email"
                        class="form-control"
                        [ngClass]="{
                          'is-invalid': form.controls['email'].errors
                        }"
                      />
                      <div
                        *ngIf="form.controls['email'].errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="form.controls['email'].errors['required']">
                          Email is required
                        </div>
                        <div *ngIf="form.controls['email'].errors['email']">
                          Enter the valid email
                        </div>
                      </div>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typePasswordX"
                        >Password</label
                      >
                      <input
                      type="password"
                      formControlName="password"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': form.controls['password'].errors
                      }"
                    />
                    <div
                      *ngIf="form.controls['password'].errors"
                      class="invalid-feedback"
                    >
                      <div
                        *ngIf="form.controls['password'].errors['required']"
                      >
                        Password is required
                      </div>
                      <div
                        *ngIf="form.controls['password'].errors['minlength']"
                      >
                        Password must be at least 6 characters
                      </div>
                      <div
                        *ngIf="form.controls['password'].errors['maxlength']"
                      >
                        Password must not exceed 20 characters
                      </div>
                    </div>
                  </div>

                    <button
                      class="btn btn-outline-light btn-lg px-5"
                      type="submit"
                    >
                      Sign Up
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
